<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.classroom.dao.ICreateClassDao">
    <!-- 配置一个查询 ID 是当前操作的唯一标识  resultType 当前操作的返回值的类型 -->
    <insert id="createClass">
        insert into classroom (classroom_id,classroom_name,invitation_code)
        values(default,#{classroomName},#{invitationCode})
    </insert>
    <select id="searchClassroomId" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT classroom_id FROM classroom  WHERE invitation_code=#{invitationCode}
    </select>
</mapper>